  body {
    font-family: "News Cycle", sans-serif;
    font-size: 12px;
    line-height: 1.3;
    color: rgb(30, 30, 30);;
  }

  #intro {
    position: fixed;
    top: 10px;
    left: 25px;
  }

  #graph1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
  }

  .node circle {
    fill: #fff;
    stroke: rgb(255, 87, 76);
    stroke-width: 1px;
  }

  .node {
    font-family: "News Cycle", sans-serif;
    font-size: 12px;
    fill: rgb(30, 30, 30);
  }

  .link {
    fill: none;
    stroke: rgb(255, 207, 204);
    stroke-width: 1px;
  }